html,
body {
    height: 100%;
	min-width:800px;
}

.bg_main {
    position: fixed;	
    width: 100%;
    height: 100%;
	background-color: #eaf0fa;
	z-index: -100;
}

.bg_login {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #eaf0fa url(/images/bg.jpg) no-repeat center center scroll;
	z-index: -1;	
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.grid-view td {
	word-break:break-all;
	word-wrap:break-word;
}

.form-table {
	width: 100%;
	margin-top: 20px;
}

.form-table td {
	padding-left: 10px;
	padding-right: 10px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.btn {
	margin: 10px;
}

.prettyprint {
	position: relative;
	background: #f7f7f7;
	color: #333;
	font: normal 12px/1.5 "Courier New",Consola,SimSun;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 2px 4px #999;
	-webkit-box-shadow: 0 2px 4px #999;
	box-shadow: 0 2px 4px #999;
	border: solid 1px #999;
	padding: 10px;
	margin: 0 0 20px 0;
	overflow: auto;
}

h1 {
	background: #f7f7f7;
	color: #303080;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 0 1px 2px #aaaaaa;
	-webkit-box-shadow: 0 1px 2px #aaaaaa;
	box-shadow: 0 1px 2px #aaaaaa;
	border: solid 1px #dddddd;
	padding: 5px 15px 5px 15px;
	margin: 0 0 20px 0;
	overflow: auto;
}

}
